@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Hind Siliguri', sans-serif;
}

.btn-primary{
    background-color: #FF5959;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: .4s;
}

.btn-primary:hover{
    background-color: #e43737;
}

/* header styles */

#header{
    background: url("../asset/images/donation9.jpg"), linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

.nav{
    display: flex;
    margin: 0 300px;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 45px;
    color: red;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none;
    font-size: 20px;
    margin-left: 30px;
}

.menu li a{
    text-decoration: none;
    color: white;
}

/* banner styles */
#banner{
    width: 40%;
    text-align: center;
    margin: 0px auto;
    padding: 150px 0;
    color: white;
    
}

.banner-title{
    font-size: 60px;
    line-height: 70px;
}

.banner-desc{
    font-size: 18px;
    line-height: 25px;
    margin: 30px;
}

/* Main styles */

#main{
    width: 70%;
    margin: 0 auto 100px;
}

section{
    margin-top: 100px;
}

/* Donate section styles */
#donate{
    text-align: center;
}

.section-title{
    font-size: 36px;
    color:rgb(12, 12, 12);
}

.section-desc{
    font-size: 18px;
    font-weight: 500;
    color: #707070;
    width: 50%;
    text-align: center;
    margin: 20px auto;
}

.amount-container{
    display: flex;
    justify-content: space-between;
}

.amount{
    width: 15%;
    font-size: 30px;
    font-weight: 700;
    color: #707070;
    background-color: #FAFAFA;
    padding: 45px 0;
    margin: 50px 20px;
    border-radius: 5px;
}

.amount-red{
    color: #FF5959;
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
}

.send-amount{
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(216, 213, 213);
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    margin: 20px 0 30px;
    padding: 10px;
}

.send-amount::placeholder{
    color: rgb(177, 177, 177);
}

/* Plan section styles */
#plan{
    text-align: center;
}

.cards-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.card{
    width: 30%;
    text-align: left;
    padding: 20px;
    box-shadow: 2px 2px 5px rgb(245, 242, 242);
    border-radius: 5px;
}

.card-img{
    margin: 20px 0;
}

.card-title{
    font-size: 25px;
}

.card-desc{
    color: #707070;
    line-height: 24px;
    margin: 10px 0 20px;
    font-weight: 500;
}

.card1{
    background-color: #EDF5F6;
}

.card2{
    background-color: #FFEEEE;
}

.card3{
    background-color: #FFF4D6;
}

/* blog section styles */
.blog-container{
    display: flex;
    justify-content: space-between;
}

.blog-content{
    width: 48%;
}

.blog-img{
    width: 48%;
}

.blog-title{
    font-size: 36px;
    color: #121212;
    line-height: 46px;
}

.blog-desc{
    font-size: 18px;
    font-weight: 500;
    color: #707070;
    margin: 30px 0;
}

.donation-img{
    width: 100%;
    border-radius: 5px;
}

.row-reverse{
    flex-direction: row-reverse;
    margin-top: 100px;
}

/* Update section styles */
#update{
    text-align: center;
}

.contact-us{
    padding: 100px 200px;
    background-color: #FFF4D6;
}

.email{
    border: none;
    background-color: #D9D9D9;
    padding:12px 10px;
    outline: none;
    width: 50%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 17px;
}

.subscribe{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
}